*
{
    margin: 0;
    padding: 0;
}

.head
{
    /* title div */
    background-color: rgb(211, 211, 255);
    padding: 40px 0;
    border-bottom: 2px solid black;
    box-shadow: 2px 0 4px black;
    position:sticky;
}

.head-h1
{
    /* title */
    text-align: left;
    margin-left: 50px;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:lighter;
    color: yellow;
    text-shadow: 0 0 2px black, 2px 2px 4px black;
}

.body-content
{
    /* Body div */
    width: 100%;
    text-align: center;
    padding: 50px 0;

}

.pick
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 80%;
    padding: 50px;
    border-radius: 15px;
    /* border: 2px solid black; */
    margin: 50px auto;
    box-shadow: 2px 2px 4px black;
    font-size:x-large;
}

.pick h2
{
    margin: 30px 0;
    background-color: rgba(128, 128, 128, 0.11);
    border-radius: 15px;
    text-shadow: 0 0 1.4px gold;
    padding: 20px 0px;
    width: 100%;
    letter-spacing: 12px;
    word-spacing: 10px;
    font-family: serif;
}

.pick p
{
    line-height:1.8;
    font-family: sans-serif;
}