*
{
    margin: 0;
    padding: 0;
}

.head
{
    /* title div */
    background-color: rgb(211, 211, 255);
    padding: 40px 0;
    border-bottom: 2px solid black;
    box-shadow: 2px 0 4px black;
    /* position:sticky; */
    display: flex;
    flex-direction: row;
    width: 100%;
}

.head ul
{
    display: flex;
    flex-direction: row;
    font-size: 40px;
}

.head ul li
{
    margin: 30px;
    list-style: none;
}

.head ul li a
{
    padding: 10px 20px;
    color: white;
    text-shadow: 0 0 3px black, 1px 1px 1px black;
    text-decoration: none;
    border-radius: 20px;
}

.head ul li a:hover
{
    background-color: azure;
}


.head-h1
{
    /* title */
    margin-left: 50px;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:lighter;
    color: yellow;
    text-shadow: 0 0 2px black, 2px 2px 4px black;
}

.popup
{
    text-align: center;
    /* width: 80vh;
    height: 90vh; */
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(55, 55, 55, 0.78);
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    border-radius: 30px;
    box-shadow: 2px 0px 10px black;
    transition: 5s ease;
}

.popup h2
{
    margin: 0 auto;
    padding: 10px 0;
    font-size: 80px;
    color: white;
    text-shadow: 0 0 5px black;
}

.popup p
{
    color: white;
    font-size: 50px;
    text-shadow: 0 0 5px black;
}

.popup input
{
    width: 13%;
    margin: 0 auto;
    padding: 10px 0;
    border-width: 0;
    border-radius: 10px;
    color:  white;
    font-size: 20px;
}



.body-content
{
    /* Body div */
    width: 100%;
    text-align: center;
    padding: 50px 0;

}

.pick
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 80%;
    padding: 50px;
    border-radius: 15px;
    margin: 50px auto;
    box-shadow: 0px 0px 2px black;
    font-size:x-large;
}

.pick h2
{
    margin: 30px 0;
    /* background-color: rgba(128, 128, 128, 0.11); */
    border-radius: 15px;
    text-shadow: 0 0 1.4px gold;
    padding: 20px 0px;
    width: 100%;
    letter-spacing: 12px;
    word-spacing: 10px;
    font-family: serif;
    font-size: 80px;
    /* text-transform:capitalize; */
    text-transform: uppercase;
}

.pick p
{
    line-height:1.8;
    font-family: sans-serif;
    margin: 50px 0;
}

.pick img
{
    border-radius: 15px;
    margin-top: 50px;
}

.top
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5%;
    bottom: 90%;
    left: 45%;
    right: 45%;
    

    background-color: white;
    border-radius: 50px;
    border: 1.5px solid black;
    box-shadow: 1px 2px 2px gray;
}

.top:hover
{
    background-color: aliceblue;
}

.top p
{
    align-items: center;
    border-radius: 30px;
    font-size: 25px;
}

/* Mobile Site */

@media only screen and (max-width: 480px)
{
    .head
    {
        flex-direction: column;
    }
    .head ul
    {
        font-size: 30px;
        justify-content: center;
    }
    .head ul li
    {
        margin: 15px 0;
    }

    .pick
    {
        width: 80%;
        padding: 25px;
        border-radius: 15px;
        margin: 50px auto;
    }
    .pick h2
    {
        margin: 30px 0;
        padding: 20px 0px;
        letter-spacing: 0px;
        word-spacing: 0px;
        font-size: 35px;
    }
    .top
    {
        top: 2%;
        left: 30%;
        right: 30%;
    }
    .pick p
    {
        line-height:1.8;
        font-family: sans-serif;
        margin: 50px 0;
    }
    
}

/* Special Classes */

.top.hidden
{
    display: none;
}

.hidden
{
    display: none;
}