*
{
    margin: 0;
    padding: 0;
}

.head
{
    /* title div */
    background-color: rgb(211, 211, 255);
    padding: 40px 0;
}

.head-h1
{
    /* title */
    text-align: left;
    margin-left: 50px;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:lighter;
    color: yellow;
    text-shadow: 0 0 2px black, 2px 2px 4px black;
}

.body-content
{
    /* Body div */
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 50px 0;

}