#big-three{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    text-align: center;
    color: rgb(91, 91, 91);
}

#big-three h2 {
    font-size: 2.5rem;
    padding: 20px 0px;
    width: 100%;
    letter-spacing: 12px;
    word-spacing: 10px;
    font-family: serif;
    font-size: 5rem;
}

#big-three p
{
    line-height: 1.8;
    font-family: sans-serif;
    margin: 25px auto;
    font-size: 1.5rem;
    max-width: 75%;
    text-indent: 100px;
}

#big-three img
{
    border-radius: 15px;
    margin-top: 50px;
    width: 80%;
}