@keyframes border_curl {
    0% {
        border-radius: 0px;
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        border-radius: 100px;
        opacity: 100%;
    }
}

@keyframes gap_increase {
    0% {
        gap: 0px;
    }

    100% {
        gap: 20px;
    }
}

@keyframes width_decrease {
    0% {
        width: 33.33%;
    }

    100% {
        width: 20%;
    }
}

@keyframes appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

body {
    background-color: rgb(44, 44, 44);
    color: white;
}

#home-content {
    margin: 20px;
    margin-top: 0;
    padding: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
    /* border: 2px solid black; */
    grid-template-columns: auto auto auto;
    gap: 10px;
}

#home-content div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: start;
    /* border: 2px solid blue; */
    width: 100%;
    max-width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;

}

#home-content div:first-child {
    align-content: start;
    padding-top: 20px;
}

#home-content div img {
    opacity: 0;
    /* animation: width_decrease 3s 0s 1 forwards; */
    max-height: 300px;
    max-width: 100%;
    animation: border_curl 4s 0s 1 forwards ease-out;
}

/* Grid Spans */

#home-content div:nth-child(1) {
    grid-column: span 3;


}

#home-content div:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;

}

#home-content div:nth-child(5) {
    grid-column: span 3;
    grid-row: span 2;
}

/* Grid Designs */

#home-content div:nth-child(1) {
    justify-content: center;
    animation: gap_increase 3s 0.2s 1 forwards ease-out;
}

#home-content div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 2.5em;
    margin: 10px 0px 0px 0px;

}

#home-content div:nth-child(2) h1:first-child {
    color: rgb(127, 127, 255);
    text-shadow: 0 0 2px white;
    opacity: 0;
}

#home-content div:nth-child(2) h1:nth-child(2) {
    color: rgb(154, 255, 255);
    text-shadow: 0 0 2px white;
    opacity: 0;
}

#home-content div:nth-child(2) p {
    opacity: 0;
    margin: 20px 0;
    text-transform: capitalize;
}

#home-content div:nth-child(3) {
    display: flex;
    flex-direction: column;
    font-size: 2.0em;
    align-content: center;
    justify-content: start;
}

#home-content div:nth-child(3) p {
    text-shadow: 0 0 2px white;
    margin: 20px 0;
    opacity: 0;
}

#home-content div:nth-child(3) h1 {
    color: rgb(255, 127, 127);
    text-shadow: 0 0 2px white;
    opacity: 0;
    text-transform: capitalize;
}

#home-content div:nth-child(4) {
    display: flex;
    flex-direction: row;
    font-size: 2.5em;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px 0px 0px 0px;
    gap: 150px;
    border-top: 4px solid white;
    text-transform: capitalize;
    opacity: 0;
}



#home-content div:nth-child(4) a {
    color: rgb(255, 172, 172);
    background-color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 5px white;
    border: 2px solid white;
}

.appear-delay-1 {
    opacity: 0;
    animation: appear 2s 1s 1 forwards ease-out;
}

.appear-delay-2 {
    opacity: 0;
    animation: appear 4s 2s 1 forwards ease-out;
}

.appear-delay-3 {
    opacity: 0;
    animation: appear 6s 3s 1 forwards ease-out;
}

.appear-delay-4 {
    opacity: 0;
    animation: appear 8s 4s 1 forwards ease-out;
}

@media only screen and (max-width: 480px) {
    #home-content {
        margin: 20px 0px;
        margin-top: 0;
        padding: 10px 0px;
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        gap: 0px;
        width: 100%;
    }

    #home-content div {
        flex-wrap: wrap;
        max-width: 90%;
    }

    #home-content div:nth-child(3) 
    {
    grid-column: span 1;

    }

    #home-content div:nth-child(4) {
        /* flex-direction: row; */
        gap: 15px;
    }


}