#hot-new-games {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    text-align: center;
    color: rgb(91, 91, 91);
}

#hot-new-games h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    padding: 20px 0px;
    width: 100%;
    letter-spacing: 12px;
    word-spacing: 10px;
    font-family: serif;
    font-size: 5rem;
}

#hot-new-games p
{
    line-height: 1.8;
    font-family: sans-serif;
    margin: 50px auto;
    font-size: 1.5rem;
    max-width: 75%;
}

#hot-new-games #game-list h3
{
    font-size: 2rem;
    margin: 20px 0;
}

#hot-new-games #game-list p
{
    font-size: 1.2rem;
    border: 2px ;
}

.game-item
{
    border: 0.1px solid black;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 4px black;
}

@media only screen and (max-width: 480px)
{
    #hot-new-games p
    {
        font-size: 1.2rem;
        max-width: 90%;
    }

    #hot-new-games h2 {
        font-size: 3rem;
        letter-spacing: 5px;
        word-spacing: 3px;
    }
}