#hottest-anime-2025 {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    padding: 20px;

}

#hottest-anime-2025 h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 10px;
    color: #ff6f61;
    text-shadow: 0 0 5px #ff6f61;
}

#hottest-anime-2025 p {
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}

#hottest-anime-2025 #list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#hottest-anime-2025 #list .list-item {
    background-color: #2a2a2a;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: auto;
}