*
{
    margin: 0;
    padding: 0;
}


.head
{
    /* title div */
    /* background-color: rgb(211, 211, 255); */
    /* background-image: linear-gradient(to top, black, gray, gray, black); */
    background-image: linear-gradient(to top, rgb(25, 25, 25), gray, gray);
    padding: 20px 0;
    border-bottom: 2px solid black;
    box-shadow: 2px 0 4px black;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.head ul
{
    display: flex;
    flex-direction: row;
    font-size: 40px;
}

.head ul li:first-child
{
    margin-left: 30px;
}

.head ul li
{
    /* margin: 0 30px; */
    list-style: none;
    padding-top: 10px;
    text-align: center;
}

.head ul li a
{
    
    padding: 10px 40px;
    color: white;
    text-shadow: 0 0 3px black, 1px 1px 1px black;
    text-decoration: none;
    /* border-radius: 20px; */
    border-radius: 5px;
    /* border: 2px solid black; */
    transition: 0.5s background-color ease;
}

.head ul li a:hover
{
    background-color: azure;
}


.head-h1
{
    /* title */
    margin-left: 50px;
    text-align: center;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:lighter;
    color: gold;
    text-shadow: 0 0 2px black, 2px 2px 4px black;
    letter-spacing: 25px;
}

.popup
{
    text-align: center;
    /* width: 80vh;
    height: 90vh; */
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(55, 55, 55, 0.78);
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    border-radius: 30px;
    box-shadow: 2px 0px 10px black;
    transition: 5s ease;
}

.popup h2
{
    margin: 0 auto;
    padding: 10px 0;
    font-size: 80px;
    color: white;
    text-shadow: 0 0 5px black;
}

.popup p
{
    color: white;
    font-size: 50px;
    text-shadow: 0 0 5px black;
}

.popup input
{
    width: 13%;
    margin: 0 auto;
    padding: 10px 0;
    border-width: 0;
    border-radius: 10px;
    color:  white;
    font-size: 20px;
}

.side-menu
{
    border-left: 2px solid black;
    /* box-shadow: -2px 10px 8px black; */
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    background-color: white;
    
}

.side-menu h3
{
    font-size: 20px;
    /* background-color: rgb(190, 226, 255); */
    background-image: linear-gradient(to top, rgb(25, 25, 25), gray);
    text-shadow: 0 0 2px black, 2px 2px 4px black;
    color: white;
    border-radius: 10px;
    padding: 10px 0;
}

.side-menu ul
{
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.side-menu ul li
{
    list-style: none;
    font-size: larger;
}

.side-menu ul li a
{
    text-decoration: none;
    color: rgb(91, 91, 91);
    text-transform: capitalize;
    font-weight: bold;
}

.side-menu .featured li a
{
    color: red;
    font-style: italic;
    text-shadow: 0px 1px 0.5px gold;
}

.body-container
{
    display: grid;
    grid-template-columns: 90% 10%;
}



.body-content
{
    /* Body div */
    width: 100%;
    text-align: center;
    padding: 50px 0;
    color: rgb(91, 91, 91);
}

.pick
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 80%;
    padding: 50px;
    border-radius: 15px;
    margin: 50px auto;
    box-shadow: 0px 0px 2px black;
    font-size:x-large;
}

.pick h2
{
    margin: 30px 0;
    /* background-color: rgba(128, 128, 128, 0.11); */
    border-radius: 15px;
    text-shadow: 0px 0px 1.4px gold;
    padding: 20px 0px;
    width: 100%;
    letter-spacing: 12px;
    word-spacing: 10px;
    font-family: serif;
    font-size: 80px;
    /* text-transform:capitalize; */
    text-transform: uppercase;
}

.pick p
{
    line-height:1.8;
    font-family: sans-serif;
    margin: 50px 0;
}

.pick img
{
    border-radius: 15px;
    margin-top: 50px;
}

.top
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5%;
    bottom: 90%;
    left: 45%;
    right: 45%;
    

    background-color: white;
    color: black;
    border-radius: 50px;
    border: 1.5px solid black;
    box-shadow: 1px 2px 2px gray;
}

.top:hover
{
    background-color: aliceblue;
}

.top p
{
    align-items: center;
    border-radius: 30px;
    font-size: 25px;
}

/* Mobile Site */

@media only screen and (max-width: 480px)
{
    .head
    {
        flex-direction: column;
        padding: 20px 0;
    }
    .head ul
    {
        font-size: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .head ul li
    {
        margin: 0px 0;
    }
    .head-h1
    {
        /* title */
        margin-left: 0px;
    }

    .pick
    {
        width: 80%;
        padding: 25px;
        border-radius: 15px;
        margin: 50px auto;
    }
    .pick h2
    {
        margin: 30px 0;
        padding: 20px 0px;
        letter-spacing: 0px;
        word-spacing: 0px;
        font-size: 35px;
    }
    .top
    {
        top: 2%;
        left: 30%;
        right: 30%;
    }
    .pick p
    {
        line-height:1.8;
        font-family: sans-serif;
        margin: 50px 0;
    }

    .side-menu
    {
        display: none;
    }
    .body-container
{
    grid-template-columns: 100%;
}
    
}

/* Special Classes */

.top.hidden
{
    display: none;
}

.hidden
{
    display: none;
}